{% extends 'base.html' %}

{% block title %}
    {{ project.name }} Details
{% endblock title %}
{% block content %}
    <div class="main-container">
        <div>
            <h1>{{ project.name }}</h1>
            <p class="detail-p">{{ project.description }}</p>
            <div class="project-edit-create-wrap">
                <p class="detail-link-wrap">
                    <a class="button" href="{% url 'edit_project' project.id %}">EDIT THIS PROJECT</a>
                </p>
                <p class="detail-link-wrap">
                    <a class="button" href="{% url 'create_task' %}">CREATE A NEW TASK</a>
                </p>
            </div>
            <h2 class="project-details-h2">Tasks</h2>
            {% if project.tasks.count > 0 %}
                <table class="detail-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="hide-when-view-small">Assignee</th>
                            <th class="hide-when-view-small">Start date</th>
                            <th>Due date</th>
                            <th class="hide-when-view-small">Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td class="hide-when-view-small">{{ task.assignee }}</td>
                                <td class="hide-when-view-small">{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td class="hide-when-view-small">{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
